git config --global user.email "dashakukuk@gmail.com"
git config --global user.name "dashakukuk"
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Kirito</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=JejuHallasan&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/styles.css">

    <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>

</head>

<body>
<div class=e1_4>
    <div class="e5_31"></div>
    <div class="e1_6"></div><span  class="e3_9">
 <p/>Настоящее имя: Киригая Кадзуто
 <p/>(桐ヶ谷桐ヶ谷人桐ヶ谷 和人)

 <p/>Никнейм: Кирито (キリト)

 <p/> Аниме:  Sword Art Online
 <p/>(Мастера меча онлайн)

  <p/>Позиция: главный герой

  <p/>Игры:
 <p/>«Искусство меча онлайн" (SAO)
 <p/>"Альфхейм Онлайн" (АЛО)
 <p/>"Gun Gale онлайн" (GGO)
 <p/>"Алисизация проекта»
 <p/> Единое кольцо



 <p/>Секретный навык: Два меча

 <p/>Пол: мужской

 <p/>День рождения: 7 октября

</span><span  class="e3_16"> </span>
</div>

</body>
</html>